

.City {
  font-size: 25px;
  margin-bottom: 10px;
}

.BoxWeatherItem {
  width: 40%;
  height: 300px;
  position: relative;
  margin-bottom: 50px;
}

.BoxWeatherItem:before {
  content: '';
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(from var(--a), #0f0, #ff0, #0ff, #f0f, #0ff);
  border-radius: 20px;
  animation: rotating 4s linear infinite;
}

.BoxWeatherItem:after {
  content: '';
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(from var(--a), #0f0, #ff0, #0ff, #f0f, #0ff);
  border-radius: 20px;
  animation: rotating 4s linear infinite;
  filter: blur(40px);
  opacity: 0.75;
}

.BoxWeatherItem span{
  position: absolute;
  inset: 4px;
  background: #222;
  border-radius: 16px;
  z-index: 1;
}

.Inner {
  text-align: center;
  margin-top: 25px;
}

.InnerFive {
  display: flex;
  text-align: center;
  margin-top: 25px;
  justify-content: center;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotating {
  0%{
    --a: 0deg;
  }
  100%{
    --a: 360deg;
  }
}

@media screen and (max-width: 1315px) {
  .BoxWeather {
    flex-direction: column;
    align-items: center;
  }
  .BoxWeatherItem {
    width: 100%;
    justify-content: center;
  }
  .BoxWeatherItem span{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 670px) {
  .BoxWeather {
    flex-direction: column;
    align-items: center;
  }
  .BoxWeatherItem {
  width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .InnerFive {
    font-size: 10px;
  }
}

@media screen and (max-width: 370px) {
  .InnerFive {
    font-size: 8px;
  }
}