html {
    box-sizing: border-box;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.header {
    padding: 20px;
    color: #fff;
    background-color: #0C0C0E;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__inner-text {
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
}

.header__inner-list {
    display: flex;
    gap: 0 30px;
    line-height: 50px;
    font-family: "Inter", sans-serif;
}

.header__list-item {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.header__list-item:hover {
    color: #BB945F;
}

.header__list-link {
    font-size: 20px;
    font-weight: 400;
}

.header__list-icons {
    margin-top: 10px;
    margin-left: 10px;
}

.header__burger {
    cursor: pointer;
}

.header__burger-line {
    height: 2px;
    background-color: #fff;
    width: 45px;
}

.header__burger-line + .header__burger-line {
    margin-top: 10px;
}

.header__mobile {
    display: none;
}

.header__mobile-user {
    display: none;
}

.header__mobile-usericons {
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
}

.header__mobile-closed {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    color: #fff;
}

.header__modilee-list {
    padding-bottom: 100px;
    width: 332px;
    top: 43px;
    right: -18px;
    position: absolute;
    background-color: #0C0C0E;
    transform: translate(100%, 0);
    transition: all 0.6s;
}

.header__mobile-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 0;
    position: relative;
    z-index: 1;
    background-color: #0C0C0E;
}

.header__mobile-usericons {
    right: 26px;
    top: -43px;
    position: absolute;
}

.active-list {
    transform: translate(0);
}

.opacity__class {
    transition: all 0.4s;
    opacity: 0;
}

.welcome{ position: relative;
    z-index: -1;
    background-image: url("../img/Welcome.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}


.welcome__text {
    position: absolute;
    padding: 35px 40px;
    background-color: #0C0C0E;
    font-size: 40px;
    line-height: 50px;
    width: 600px;
    height: 220px;
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
    bottom: 168px;
    left: -1px;
}

.about {
    padding: 20px 0;
}

.about__about {
    margin-bottom: 40px;
}

.about__about-text {
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
}

.about__about-line {
    margin: 0 auto 15px;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
}

.about__text {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    padding-top: 10px;
}

.about__slider {
    position: relative;
}

.about__slider-inner {
    padding: 0 0 40px;
}

.about__slider-arrow {
    display: none;
    position: absolute;
    transform: translate(10px, -300px);
    right: 25px;
}

.about__slider-arrow-left {
    transform: translate(10px, 300px);
    left: 25px;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.about__slider-box {
    display: none;
    justify-content: space-between;
    margin: 0 20px;
    animation: slideIn 1s ease-in-out;
}



.about__slider-dots {
    display: flex;
    justify-content: center;
}

.about__slide-dot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000;
    margin: 4px auto;
}

.active {
    background-color: #BB945F;
}

.active-box {
    display: flex;
    transition-property: background-image;
    transition-duration: 3s
}

.slider__dots {
    width: 26px;
    height: 26px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s;
}

.slider__dots:hover {
    .about__slide-dot{
        background-color: #BB945F;
    }
}

.footer {
    background-color: #0C0C0E;
    color: #fff;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 30px;
    border-bottom: 1px solid #fff;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.footer__top-text {
    cursor: pointer;
}

.footer__top-time--work {
    margin-top: 10px;
}

.footer__top-right {
    text-align: end;
}

.footer__bottom {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 48px 20px;
    font-size: 22px;
    font-weight: normal;
    line-height: 20px;
}

.footer__top-icons {
    margin-top: 18px;
    display: flex;
    gap: 0 15px;
}


