.MenuContentActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: var(--inverted-bg-color);
  transform: translateX(0);
  transition: all 0.5s;
  margin-top: 30px;
  position: absolute;
  left: 0;
  height: 100vh;
  z-index: 3;
}

.MenuContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100vh;
  background-color: var(--inverted-bg-color);
  transform: translateX(-101%);
  transition: all 0.5s;
  margin-top: 30px;
  position: absolute;
  left: 0;
  z-index: 3;
}

.MenuImg img{
  width: 150px;
  height: 150px;
}

.Button {
  cursor: pointer;
  margin-top: 25px;
  border: none;
  width: 50%;
  border-radius: 15px;
  background-color: blue;
  color: #fff;
  padding: 10px;
}

@media screen and (max-width: 855px){
  .MenuContentActive {
    width: 100%;
  }
}

@media screen and (max-width: 500px){
  .MenuImg img {
    width: 50px;
    height: 50px;
  }
}