.Navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--inverted-bg-color);
  z-index: 50;
}

.ButtonBtn {
  width: 60px;
  height: 30px;
  position: relative;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.ButtonBtn span {
  position: absolute;
  top: 14px;
  width: 30px;
  background-color: var(--inverted-bg-color);
  height: 2px;
}

.ButtonBtn:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 30px;
  background-color: var(--inverted-bg-color);
  height: 2px;
}

.ButtonBtn:before {
  content: '';
  position: absolute;
  top: 0;
  width: 30px;
  background-color: var(--inverted-bg-color);
  height: 2px;
}

.Input {
  top: 15px;
  position: absolute;
  right: 20px;
}



.DropdaunMenu {
  padding: 20px 0;
  width: 193px;
  position: absolute;
  right: 19px;
  z-index: 4;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--inverted-bg-color);
  border-radius: 15px;
  transition: all 0.5s;

}

.DropdaunMenuList {
  display: flex;
  margin-top: 15px;
}

.DropdaunMenu p {
  display: flex;
  justify-content: space-between;
}

.Button {
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
  color: var(--primary-color);
  font: var(--font-family-main);
}

